.hex-board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #191919;
  flex: 1;
  user-select: none;
  -webkit-user-select: none;
}

.hex-board {
  max-width: 100%;
  max-height: 100vh;
  width: auto;
  height: auto;
  cursor: default;
}